{% extends "dashboard/base/index.html" %}

{% load static %}

{% block title %} Users {% endblock %}

{% block subtitle %} Users {% endblock %}

{% block content %}

<div class="container-fluid page__container">
    <div class="card document-card">
        <div class="row mb-4 mt-4 mr-2">
            <div class="col-md-12">
                <div style="text-align: right">
                    <a href="{% url 'dashboard:users-create' %}" class="btn btn-outline-primary">
                        <i class="fa fa-plus"></i>&nbsp; Add User
                    </a>
                </div>
            </div>
        </div>
        <div class="row ml-2 mr-2 mb-2 mt-2">
            <div class="col-sm-12 document-table-space">
                <table class="table  w-full no-footer" role="grid">
                    <thead class="table-space-top-bottom">
                        <tr role="row">
                            <th>S.N</th>
                            <th>Name</th>
                            <th>Group</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for users in object_list %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>{{ users.username }}</td>
                            <td><span class="badge badge-secondary">{{ users.groups.all.0 }}</span></td>
                            <td>{{ users.email }}</td>
                            <td>{% if users.is_active == True %} <span class="badge badge-success"> Active </span> {% else %} <span class="badge badge-danger"> In Active </span> {% endif %}</td>
                            <td>
                                <div class="btn-group" role="group" style="margin:auto;">
                                    <a href="{% url 'dashboard:users-password-reset' users.id %}"
                                        class=" btn-success password-reset">
                                        <button type="button" class="btn-sm btn btn-primary">Reset Password</button>
                                    </a>
                                    &nbsp;
                                    <a href="{% url 'dashboard:users-update' users.id %}" class="btn-sm btn btn-info btn-success-space" data-toggle="tooltip" data-original-title='Modify'>
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'dashboard:users-status' users.id %}" data-toggle="tooltip"  {% if users.is_active == True %} class="btn-sm btn btn-danger user-deactivate" data-original-title='Deactivate'  {% else %} class="btn-sm btn btn-success user-activate" data-original-title='Activate' {% endif %}>
                                        {% if users.is_active == True %}
                                        <i class="fas fa-ban"></i>
                                        {% else %}
                                        <i class="fas fa-check"></i>
                                        {% endif %}
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                {% include 'dashboard/base/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
// password reset link
    $('body').on('click', '.password-reset', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Password Reset It!'
        }).then((result) => {
            if (result.value) {
                window.location.href = $(this).attr('href');
            }
        })
    });

// user activate 
$('body').on('click', '.user-activate', function (e) {
    e.preventDefault();
    Swal.fire({
        title: 'Are you sure you want to activate this user?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Activate It!'
    }).then((result) => {
        if (result.value) {
            window.location.href = $(this).attr('href');
        }
    })
});

// user deactivate 
$('body').on('click', '.user-deactivate', function (e) {
    e.preventDefault();
    Swal.fire({
        title: 'Are you sure you want to deactivate this user?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Deactivate It!'
    }).then((result) => {
        if (result.value) {
            window.location.href = $(this).attr('href');
        }
    })
});
</script>
{% endblock %}
