*.pyc
__pycache__/
migrations
settings.py
stacticcdn
.idea/
db.sqlite3
db.json
venv/
env/
.idea
media/
staticcdn/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
dump.rdb
celerybeat-schedule
celerybeat.pid
.read
data.json
data.psql
database.db
extract.json
schema.psql
.vscode
.output
static_cdn/
debug
require.txt
migrate.sh
.DS_Store
.gitignore
