<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup</title>
    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">
    <!-- Simplebar -->
    <link type="text/css" href="{% static 'dashboard/admin/assets/vendor/simplebar.min.css' %}" rel="stylesheet">
    <!-- App CSS -->
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/app.rtl.css' %}" rel="stylesheet">
    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/vendor-material-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">
    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">
    <!-- ion Range Slider -->
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/vendor-ion-rangeslider.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/vendor-ion-rangeslider.rtl.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'dashboard/admin/assets/css/editedstyle.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'home/images/fav-logo.png' %}">
    <link rel="apple-touch-icon" href="{% static 'home/images/fav-logo.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="fav-logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href="fav-logo.png">
    <style>
        .errorlist{
            color:red;
            list-style-type: none;
        }
        .login-button a:hover{
            text-decoration: underline!important;
        }
    </style>
</head>

<body>
    <div class="layout-login-centered-boxed" id="login-connect">

        <div class="layout-login-centered-boxed__form login-maxwidth">
            <div class="text-center pomelo-crm-login-logo">
                <img src="{% static 'dashboard/admin/assets/images/logo-1.png' %}" width="70%" alt="Pomelo sample">
                <h3>Register</h3>
                <br>
                <br>
            </div>
            <div class="card">
                <div class="login-inner">
                     <!-- {% if error %}
                     <span style="color:red;!important"> {{ error }}</span>
                     {% endif %} -->
                    <form action="{% url 'dashboard:signup' %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group" >
                            <label>{{ field.label }}{% if field.field.required %}* {% endif %}</label>
                            {{ field }}
                            <span style="color:red;">{{ field.errors|striptags|safe }}</span>
                        </div>
                        {% endfor %}  
                        <button type="submit" class="btn  btn-block btn-outline-dark jk-button">Signup</button>
                        <div class="form-group text-center login-button">
                            <br>
                            Already have an account? <a class="text-body text-underline" href="{% url 'dashboard:login' %}" style="color:#4a90e2!important;">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'dashboard/admin/assets/vendor/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'dashboard/admin/assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/admin/assets/vendor/bootstrap.min.js' %}"></script>
    <!-- Simplebar -->
    <script src="{% static 'dashboard/admin/assets/vendor/simplebar.min.js' %}"></script>
    <!-- DOM Factory -->
    <script src="{% static 'dashboard/admin/assets/vendor/dom-factory.js' %}"></script>
    <!-- MDK -->
    <script src="{% static 'dashboard/admin/assets/vendor/material-design-kit.js' %}"></script>
    <!-- Range Slider -->
    <script src="{% static 'dashboard/admin/assets/vendor/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'dashboard/admin/assets/js/ion-rangeslider.js' %}"></script>
    <!-- App -->
    <script src="{% static 'dashboard/admin/assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'dashboard/admin/assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'dashboard/admin/assets/js/dropdown.js' %}"></script>
    <script src="{% static 'dashboard/admin/assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'dashboard/admin/assets/js/app.js' %}"></script>
    <!-- App Settings (safe to remove) -->
    <script src="{% static 'dashboard/admin/assets/js/app-settings.js' %}"></script>
</body>

</html>