{% extends "dashboard/layouts/base.html" %}

{% load static %}

{% block title %}Designation Form{% endblock %}

{% block head %}

{% endblock %} 
{% block style %}
<style>
    .select2-search__field{
        outline: none;
    }
    .form-control select2 select2-hidden-accessible{
        outline: none !important;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);

    }   
    .select2-container *:focus {
        outline: none;
        border-color: #299aff;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid page__container">
    <div class="card card-form form-header-layout">
        <h1 style="padding: 27px !important;">Form</h1>
        <div class="row no-gutters" style="border-top: 1px solid #EFEFEF">
            <div class="col-lg-12 card-form__body card-body pomelo-form-card" style="background:none !important;">
                <form method="post" action="" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group" >
                        <label>{{ field.label }}{% if field.field.required %}* {% endif %}</label>
                        {{ field }}
                        <span style="color:red;">{{ field.errors }}</span>
                    </div>
                    {% endfor %}                                       
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>

</script>
{% endblock %}
