{% extends "dashboard/base/index.html" %}

{% load static %}

{% block title %}Todo{% endblock %}

{% block subtitle %}Todo{% endblock %}

{% block style %}
<style>
    .nav-tabs a.active i{ color:green; }
</style>
}
{% endblock %}

{% block content %}

<div class="container-fluid page__container">
    <div class="card document-card">
        <div class="row mb-4 mt-4 mr-2">
            <div class="col-md-12">
                <div style="text-align: right">
                    <a href="{% url 'dashboard:todo-create' %}" class="btn btn-outline-primary todo-form"
                        data-toggle="modal" data-target="#todoModal">
                        <i class="fa fa-plus"></i>&nbsp; Add Task
                    </a>
                </div>
            </div>
        </div>
        <div class="tab">
            <div class="float-left ml-3">
                <ul class="nav nav-tabs">
                    <li>
                        <a data-toggle="tab" href="#table" class="mr-2 active" >
                            <span><i class="fa fa-table fa-2x"></i></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#list" class="ml-2" >
                            <span><i class="fa fa-list fa-2x"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="table" class="row ml-2 mr-2 mb-2 mt-2 tab-pane active in">
                <div class="col-sm-12 document-table-space ">
                    <table class="table w-full no-footer" role="grid">
                        <thead class="table-space-top-bottom">
                            <tr role="row">
                                <th>S.N</th>
                                <th>Title</th>
                                <th>Created At</th>
                                <th>Due time</th>
                                <th>Last Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo in object_list %}
                            <tr>
                                <td>
                                    <a href="" class = "complete" action-link="{% url 'dashboard:todo-manage' todo.id %}?kw=completed">
                                        <span class="mr-2" data-toggle="tooltip" data-original-title="Complete"><i><input type="checkbox" ></i></span>
                                    </a>
                                    {{ page_obj.start_index|add:forloop.counter0 }}
                                </td>
                                <td>{{ todo.title }}</td>
                                <td>{{ todo.created_at }}</td>
                                <td>{{ todo.last_date|timeuntil }}</td>
                                <td>{{ todo.last_date|date:"M d" }}, {{todo.last_date|date:"Y"}}, {{ todo.last_date|time:"H:i a"}}</td>

                                <td>
                                    <div class="btn-group" role="group" style="margin:auto;">
                                        <a href="{% url 'dashboard:todo-manage' todo.id %}?kw=imp" class="btn-sm btn btn-info btn-success-space" 
                                        data-toggle="tooltip" {% if todo.is_important %} data-original-title='Not Important' {% else %} data-original-title='Important'{% endif %}>
                                            <i class="fa fa-star" {% if todo.is_important %}  style="color:yellow" {% endif %}></i>
                                        </a>
                                        <a href="{% url 'dashboard:todo-detail' todo.id %}" class="btn-sm btn btn-info btn-success-space todo-view" 
                                        data-toggle="modal " data-target="#todoModal" >
                                            <i class="fa fa-eye" data-toggle="tooltip" data-original-title='Detail'></i>
                                        </a>
                                        <a href="{% url 'dashboard:todo-update' todo.id %}" class="btn-sm btn btn-info btn-success-space todo-form" 
                                        data-toggle="modal" data-target="#todoModal" data-sid="{{ todo.id }}">
                                            <i class="fa fa-pencil-alt" data-toggle="tooltip" data-original-title='Modify'></i>
                                        </a>
                                        <a href="{% url 'dashboard:todo-delete' todo.id %}" class="btn-sm btn btn-danger delete-link" data-toggle="tooltip" data-original-title='Delete' >
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    {% include 'dashboard/base/pagination.html' %}
                </div>
            </div>
            <div id="list" class="row ml-2 mr-2 mb-2 mt-2 tab-pane fade">
                <div class="col-sm-12 document-table-space">
                    <div>
                        {% for todo in object_list %}
                        <div class="row m-2 shadow p-3 bg-white rounded">
                            <div class="col-md-1 col-sm-1">
                                <a href="" class = "complete" action-link="{% url 'dashboard:todo-manage' todo.id %}?kw=completed">
                                    <span class="mr-2" data-toggle="tooltip" data-original-title="Complete"><i><input type="checkbox" ></i></span>
                                </a>
                                <span>{{ page_obj.start_index|add:forloop.counter0 }}</span>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <a href="{% url 'dashboard:todo-detail' todo.id %}" class="todo-view"
                                data-toggle="modal" data-target="#todoModal" data-original-title='Modify'>{{ todo.title }}</a>
                            </div>
                            <div class="col-md-4">
                                <span>last date: {{ todo.last_date|date:"M d" }}, {{todo.last_date|date:"Y"}}, {{ todo.last_date|time:"H:i a"}}</span>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="float-right">
                                    <a href="{% url 'dashboard:todo-manage' todo.id %}?kw=imp" class="btn-sm btn btn-info btn-success-space" 
                                    data-toggle="tooltip" {% if todo.is_important %} data-original-title='Not Important' {% else %} data-original-title='Important'{% endif %}>
                                        <i class="fa fa-star" {% if todo.is_important %}  style="color:yellow" {% endif %}></i>
                                    </a>
                                    <a href="{% url 'dashboard:todo-detail' todo.id %}" class="btn-sm btn btn-info btn-success-space todo-view" 
                                    data-toggle="modal " data-target="#todoModal" >
                                        <i class="fa fa-eye" data-toggle="tooltip" data-original-title='Detail'></i>
                                    </a>
                                    <a href="{% url 'dashboard:todo-update' todo.id %}" class="btn-sm btn btn-info btn-success-space todo-form" 
                                    data-toggle="modal" data-target="#todoModal" data-sid="{{ todo.id }}">
                                        <i class="fa fa-pencil-alt" data-toggle="tooltip" data-original-title='Modify'></i>
                                    </a>
                                    <a href="{% url 'dashboard:todo-delete' todo.id %}" class="btn-sm btn btn-danger delete-link" data-toggle="tooltip" data-original-title='Delete' >
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                      </div>
                    {% include 'dashboard/base/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="todoModal"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
      </div>
    </div>
</div>


{% endblock %}